@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    font-family:"Roboto", sans-serif;
    background: #251f3b;     
  }

div.formContainer{
    width: 25%;
    margin: auto;
    padding-top: 10%;
}

div.form{
    background: #FFF;
    padding: 40px;
    margin: auto;
}

.button {
    cursor: pointer;
    background: rgb(32, 44, 114);
    color: #FFF;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    padding-top: 10px; 
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    
}

.button:hover{
    background: rgb(27, 53, 92);
}

input{
font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.loginForm input{
    display: block;
    margin: 10px auto 0px auto;
    
}
.registrationForm input{
    display: block;
    margin: 10px auto 0px auto;
}

.form {
    animation-name: launch;
    animation-duration: 4s;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form .loginForm{
    display: none;
  }

  .form .regis{
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
  }
  .form .regis a{
    color: blueviolet;
    text-decoration: none;
  }

  #registerEmail.error{
    color: red;
  }

  