html, body {margin: 0; height: 100%;}
#showRegister{
    color: blue;
    cursor: pointer;
    padding: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
#hideRegister{
    color: red;
    cursor: pointer;
    padding: 20px;
    font-family:  Georgia, Times, 'Times New Roman', serif;
}


tr:nth-child(odd){
    background-color: rgb(201, 199, 199);
    border-radius: 10px;
}
#Login {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 5px;
    font-family: Geneva;
    
}
    #Login:hover {
        background-color: #3c86d9;
        color: white;
    }


    #LogoutButton:hover {
        background-color: #f4511e;
        color: white;
    }
#loginStyle{
    background-color: white;
    margin-left:100px;
    font-family: Geneva;
    
}
#loginStyle2{
    background-color: white;
    margin-left: 100px;
}

#tableLogin{
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;

}
input[type=text]{
    padding: 5px;
    border-radius: 10px;
    
}
input[type=password]{
    padding: 5px;
    border-radius: 10px;
  
}
input[type='file']::file-selector-button{
    
    height:20px;
    font-family: sans-serif;
    margin:10px;
    box-sizing: border-box;
    background-color: rgb(142, 206, 223);
}
#registerButton {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 5px;
}

    #registerButton:hover {
        background-color: #3c86d9;
        color: white;
    }
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#all{
    width: 40%;
    background-color: aqua;

}
#display{
    color: red;
}
strong, label{
    display: block;
    padding-left: 20px;
    font-size: 1.3em;
}


#movieCode, #movieTitle, #movieDirector, #movieGenre, #movieDateOfRelease{
    display: block;
    padding-left: 50px;
    font-size: 1.2em;
}

#trHover:hover{
    background-color: rgb(171, 171, 173);
    cursor: pointer;
}


#modal{
    position: fixed;
    width: 500px;
    background-color: #d7d7d7;
    border-radius: 15px;
    padding-bottom: 20px;
    display: none;
    position: absolute;
    left: 64%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#modalImage{
    width: 100%;
}
/* NEW */

#divAllUser{
    width:15%;
    height:100%;
    padding-top:5px;
    background-color: #19A1E6;
    position: fixed;
        top: 8.55%;
        right: 0%;
}
#userList{
    list-style-type:none;
    margin:0;
    padding:0;
}
.user{
    margin:3px;
}

.user:hover{
    background-color: #849FBF;
    cursor: pointer;
}

.user-pic{
    padding-top: auto;
    width:50px;
    height:50px;
    object-fit: cover;
}

#chatbox{
    position: fixed;
        bottom:0;
        right:250px;
    background-color: #4b95dbcb;
    width:340px;
    height:360px;
    display: none;
    flex-direction: column;
}

#close-btn{
    position: absolute;
        top:0;
        right:0;
    background-color: rgb(224, 164, 164);
}


.chat-top{
    background-color: #4C89C2;
    height: 50px;
}

.chat-mid{
    overflow-y: scroll;
    height: 225px;
    
}

.chat-bot{
    background-color: rgb(230, 222, 222);
    height: 50px;
}

#textarea{
    resize: none;
}

#send-btn{
    position: absolute;
    margin-top: 38px;
}

.chat-row{
    display: flex;
    margin:auto 10px;
}

.sender-row{
    flex-direction: row-reverse;
}

.receiver-row{
    flex-direction: row;
}

.sender{
    float: right;
    background-color: #4C89C2;
    border-radius: 10px 10px 0 10px;
    max-width:200px;
    margin:5px 0;
}

.receiver{
    float: left;
    background-color: #A6D3F4;
    border-radius: 10px 10px 10px 0;
    max-width:200px;
    margin:5px 0;

}

.chat-time{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.chat-name{
    padding-left: 4px;
    font-weight: bold;
}

.chat-uname{
    font-weight: bold;
    font-size: 13px;
    display: none;
    margin:0;
}

.chat-text{
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 6px;
}

#edit-img-container{
    width:100vw;
    height: 100vh;
    position: fixed;
        top:0;
        left:0;
    background-color: rgba(141, 119, 119, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

#edit-box{
    width:400px;
    height:350px;
    background-color: #849FBF;
    border-radius: 20px;
    border-top-right-radius: 0px;
    box-shadow: 1px 1px;
    position: relative;
}

#img-box{
    width: 200px;
    height: 200px;
    border:1px solid gray;
    margin: 10px auto;
}

#current-profile-pic{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#change-img-btn{
    margin-left: 35%
}


#exit-change-btn{
    height: 20px;
    position: absolute;
        top:5px;
        right:5px;
}
.profile-container{
    display: flex;
    flex-direction: row;
    height:75px;
    background-color: #05F29B;
}

#profile-pic-container, #profile-pic{
    display: inline-block;
    margin:0;
    width:60px;
    height:60px;
    position: relative;
}

#profile-pic{
    object-fit: cover;
    height: 75px;
    width: 75px;
}

#profile-pic:hover{
    object-fit: cover;
    height: 85px;
    width: 85px;
    cursor: pointer;
}

.chat-time{
    color: rgb(99, 97, 97);
}
#activeU{
    margin-left: 25%;
}
#username-text{
    font-weight: bold;
    width: 300px;
    margin-top: 8px;
    margin-left: 2%;
}

#displayCart{
 background-color: red;
 width: 15%;
 height: 40%;
 overflow-y: scroll;
 position: relative;
}

#displayWishlist{
background-color: blue;
width: 15%;
height: 40%;
overflow-y: scroll;
position: absolute;
}

#checkOut{
    bottom: 0;
}

#cartImage{
    width: 30%;
    height: 30%;
}
#purchaseHistoryModal{
    background-color: salmon;
    width: 50%;
    height: 50%;
    position: absolute;
    overflow-y: scroll;
}

#historyImage{
    max-height: 10%;
    max-width: 10%;
    
}
#populateHistory{
    background-color: rgb(5, 255, 17);
    min-height: 5%;
}


#purchasedItems{
    background-color: sienna;
}
#mainDisplay{
    width: 60%;
    height: 30%;
    margin-top: -17%;
    margin-left: 20%;
    vertical-align:middle;
    text-align: center;
    position:initial;
}

#filters{
    position: absolute;
    width: 100%;
    margin-top: -18.5%;
    margin-left: 20%;
    margin-right: 50%;
    position:absolute;
    
}

main{
    height: 100%;
    overflow: hidden;
}

#span1{
    position: absolute;
    top: 22.5%;
    font-size: 80px;
    font-weight: bold;
    color: #091f2b;
    cursor: pointer;
    left: 18%;
    z-index: 1;
}
#span2{
    position: absolute;
    top: 22.5%;
    font-size: 80px;
    font-weight: bold;
    color: #091f2b;
    cursor: pointer;
    z-index: 1;
    left: 80.5%;
    text-align: right;
}

section{
    width: 100%;
    height: 900%;
    background: salmon;
    margin: 10px auto;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
}

section::-webkit-scrollbar{
    visibility: hidden;
}

#divGal{
    min-width: 14.7%;
    height: 8.6%;
    position: relative;
    background: purple;
    color: white;
    transition: 1s;
    left: 0;
    text-align: center;
    margin-right: 2%;
    padding-top: 1%;
    margin: 2% 1%;
}
  




#searchShit{
    margin-top: 1.2%;
    margin-left: 30%;
    height: 6%;
    min-width: 17%;
    position: absolute;
}
#historyButton{
    margin-left: 35%;
}

#LogoutButton{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 2px 16px;
    text-align: center;
    font-size: 12px;
    margin: 18px 4px;
    margin-left: 19%;
    
    transition: 0.3s;
    border-radius: 5px;
    float: right;
}
#autoC{
    min-width: 17.7%;
    max-width: 17.8%;
    z-index: 1;
    min-height: -5%;
    background: #60d42a;
    position: absolute;
    margin-left: 30%;
    margin-top: 4.7%;
    padding-bottom: -2%;
}
#searchShitButton{
    position: absolute;
    margin-top: 2%;
    margin-left: 47.7%;
}
